/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* variable */
:root {
    --white:rgb(255,255,255);
    --green:rgb(104,199,186);
    --red:rgb(198,104,148);
    --bg-pri:rgb(230,231,231);
    --bg-sec:rgb(239,238,238);
    --bg-tre:rgb(245,244,244);
    --text-a:rgb(56,60,64);
    --linear:rgb(14,7,2);
    --form-bg:rgb(250,250,250);
    --text:rgb(253,253,253);
}

/* custom style */

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}
section{
    font-size: 0;
}
h1,h2,h3,h4,h5,h6,p,a {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: var(--text-a);
    
}
p {
    font-size: 12px;
    color: var(--text-a);
}
main {
    background-color: var(--bg-pri);
}
.position-absolute-450 {
    position: absolute;
    left: 442px;
}
.position-relative-50 {
    position: relative;
    left: 50px;
}
.article {
    position: relative;
}
.article-text p {
    margin: 10px 0;
}
.article-image {
    width: 100%;
}
.fa-chevron-right, .fa-chevron-left{
    padding: 4px;
    border-radius: 50%;
    background-color: rgb(224,223,220);
    color: rgb(126,121,112);
    font-size: 10px;
}
.arrow-right, .arrow-left {
    padding: 8px;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
}
.arrow-left {
    padding: 8px;
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    margin-right: 3px;
}
/* general */

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
}
.font-0 {
    font: 0;
}

/* Padding */

.padding {
    padding: 50px 0;
}

/* text Center */

.text-center {
    text-align: center;
}

/* Button */

.btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.8px;
}
.btn-primary {
    background-color: var(--green); 
    color: var(--white);
    border: none;
    padding: 8px 20px;
}
.btn-secondary {
    border: 0;
    color: var(--green);
    padding: 10px;
}

/* Flex */

.flex-50 {
    flex: 0 1 50%;
}
.flex-70 {
    flex: 0 1 70%;
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-25 {
    flex: 0 1 25%;
}
.flex-20 {
    flex: 0 1 20%;
} 
.flex-45 {
    flex: 0 1 48%;
}
.flex-40 {
    flex: 0 1 40%;
}
.only-flex {
    display: flex;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-end {
    justify-content: flex-end;
}
.stretch {
    align-items: stretch;
}
/* headings */

h1 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 20px;
}
h2 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-a);
}
h3 {
    font-size: 26px;
    font-weight: 500;
}
h4 {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-a);
    text-transform: uppercase;
}
/* header */

.header {
    padding: 10px 160px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 1;
    box-shadow: none;
}
.nav-bar a{
    margin-left: 20px;
    font-weight: 500;
}
.nav-bar a:hover{
    color: var(--green);
}
.nav-bar {
    text-transform: capitalize;
    font-size: 12px;
}
.journey {
    font-weight: 700;
}

/* hero */

.hero-container {
    background:linear-gradient(to right bottom, rgba(0,0,0,0.8),rgb(0,0,0,0.6)), url(../media/banner.jpg) 50% 50% no-repeat;
    background-size: cover;
    padding: 50px 0;
}
.down-arrow {
    font-size: 10px;
    padding: 10px;
    background-color: var(--green);
    border-radius: 50%;
    color: var(--white);
    display: inline-block;
    margin:20px 0 50px 0;
}
.hero-text {
    color: var(--text);
    font-size: 16px;
    font-weight: 300;
    word-spacing: 0.5px;
    letter-spacing: 0.3px;
}

/* form */

.hero-form {
    width: 70%;
    margin: 0px auto;
    background-color: var(--white);
    padding: 20px;
}
label {
    font-size: 12px;
    font-weight: 600;
    color: var(--text-a);
    text-transform: capitalize;
    text-align: start;
}
.form-control-2 {
    width: 45%;
}
.form-control {
    background-color: var(--form-bg);
    border: 1px solid var(--form-bg);
    padding: 8px;
    outline: 0;
    width: 100%;
    margin: 10px 0 0px 0;
    color: #ccc;
}
.form-control-1 {
    width: 100%;
    margin-bottom: 10px;
}
.form-control::placeholder {
    color: #ccc;
}
.form-control:focus {
    border-color: lightgray;
}
.form-btn {
    width: 100%;
    margin-top: 40px;
    padding: 8px;
}
.dot-container {
    margin: 10px 0;
}
/* about */

.about {
    background-color: var(--bg-sec);
    text-align: center;
}
.about-wrapper {
    max-width: 70%;
    margin: 0 auto;
}
.about p {
    margin: 20px 0;
}

/* Blog */

.article-col-left {
    position: relative;
}
.nav-btn {
    height:40px ;
    width: 40px;
    background-color: rgba(0,0,0,0.5) ;
    margin: 0 5px;
}
.nav-btn-container-left {
    position: absolute;
    top: 50%;
    right: 30px;
}

.article-col-right {
    background-color: var(--green);
    padding: 32px;
    position: relative;
    z-index: 1;
    left: -40px;
}
.article .btn-secondary {
    background-color: white;
    margin-top: 10px;
    display: inline-block;
}

/* Article 2 */

.article-2 .article-col-right {
    background-color: var(--red);
    left: 40px;
}
.nav-btn-container-right {
    position: absolute;
    top: 50%;
    left: 30px;
}
.article-2 .btn-secondary {
    color: var(--red);
}

/* Maps */

.maps-container {
    background-color: var(--green);
    padding: 20px;
    text-align: center;
    width: 200px;
}
.maps-container:hover {
    background-color: var(--red);
}
.maps-container p {
    color: var(--text);
    font-size: 12px;
}
.maps .active {
    background-color: var(--red);
}
/* Recommonded places */
.recommended-items {
    max-width: 70%;
    background-color: var(--green);
    margin: 20px auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.width-full {
    width: 100%;
}
.recommended-items-content {
    background-color: var(--white);
    padding: 20px;
    position: relative;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.recommended-items-priceing span {
    font-size: 28px;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}
.recommended-items-priceing a {
    font-size: 10px;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
    margin-top: 20px;
}
.recommended-items-priceing {
    flex-direction: column;
}
.btn-curve {
    position: absolute;
    right: -24px;
    top: 0;
    height: 100%;
}

/* contact */

.contact {
    position: relative;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}
.article-text-4 {
    background-color: var(--green);
}
.contact .btn-primary {
    width: 100%;
}
.contact-form {
    background-color: var(--white);
    padding: 20px;
    display: inline-block;
    width: 40%;
    position: absolute;
    right: 150px;
    bottom: 80px;
}
.bottom-form-control {
    width: 48%;
} 
.bottom-form-control-1 {
    width: 100%;
    margin: 10px 0 10px 0;
}
.bottom-form-control-text-area {
    width: 100%;
    margin-bottom: 10px;
}
/* sectio


/* section-7 */

.city-name {
    font-size: 10px;
    color: var(--red);
    margin: 10px 0 15px 0;
}
.hotel {
    background-color: var(--green);
    max-width: 70%;
    margin: 15px auto;   
    border: 1px solid lightgray;
}
.hotel-inn {
    background-color: var(--white);
    width: 85%;
    border-radius: 40px;
}
.price {
    font-size: 18px;
    color: var(--text);    
}
.hotel-inn img {
    width: 200px;
    height: 150px;
}
.hotel-text {
    padding: 10px;
}
.price-container {
    margin: 0 auto;
}
.continue-reading {
    font-size: 8px;
    color: var(--text);
    text-transform: uppercase;
    margin-top: 30px;
    color: var(--white);
    display: flex;
    flex-direction: column;
}
.hotel-btn {
    margin: 0 auto;
    display: block;
}

/* contact section */

.contact-article {
    position: relative;
}


/* footer */

footer {
    background-color: var(--green);
    padding: 20px;
    text-align: center;
}
small {
    color: #fff;
}